extends ./layout.pug

block title
  title !{album.getText("album.title")}

block body
  body.album
    
        h1(data-wio-id=album.id)
          != album.getText('album.title') || 'Untitled'
        
          section.main
            include partials/post.pug
