.logo {
  float:left;
  width:100px;
  padding-right:12px;
}
.logo-type {
  padding-top:32px;
  float:left;
  font-family:"rogue-sans-ext";
  font-weight:700;
  font-size:28px;
  letter-spacing:1px;
  a {
    color:$black;
    &:hover {
      color:$light-gray;
    }
  }
}
